*{
    padding: 0; margin: 0;
}



@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa"),
         url("Comfortaa.ttf") format("woff2"),
         url("/Comfortaa.ttf") format("woff");
  }
  
  body {
    font-family: "Comfortaa";
    color:rgb(240, 240, 240);
    line-height: 1.25;
    font-size: 1rem;
    background-color:rgb(27, 27, 27) ;
  }

.wrap{
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
  
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px ;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  transition-duration: 0.4s;
}

.header:hover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px ;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(29, 29, 29, 1);
  box-shadow: 0px 0px 49px -1px rgb(92, 92, 92);
  z-index: 999;
}

.Twinlogo{
  transition-duration: 0s;
}

.Twinlogo:hover{
  transform: scale(1.2);
}


.menu{
  padding: 0px 20px ;
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 30px ;
}

.menu li a{
  color:rgb(221, 221, 221); text-decoration: none;
  font-size: large;
  transition-duration: 0.2s;
}

.menu li a:hover{
  color:rgb(77, 77, 77); text-decoration: none;
  font-size: larger;
}

.header a{
  width: 60px; height: 60px;
  padding: 5px 0px;
  transition-duration: 0.2s;
}

.header a:hover{
  padding: 0px 0px;
  width: 70px; height: 70px;
}

.hello_wrap{
  background: url(imgs/firstbg.jpg) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  transition-duration: 1s;
  box-shadow: inset 0px 0px 29px 24px rgb(27, 27, 27, 0.5);
}

.hello_wrap:hover{
  background: url(imgs/firstbg.jpg) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  box-shadow: inset 0px 0px 29px 24px rgb(88, 88, 88, 0.5);
}

.roles_hello_wrap{
  background: url(imgs/secondbg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  transition-duration: 1s;
  box-shadow: inset 0px 0px 29px 24px rgb(27, 27, 27, 0.5);
}


.roles_hello_wrap:hover{
  background: url(imgs/secondbg.png) center center no-repeat;
  background-size: cover;
  padding: 100px 0px 140px 0px;
  box-shadow: inset 0px 0px 29px 24px rgb(88, 88, 88, 0.5);
}

.hello{
  text-align: center;
}

.twinmoon_text{
  padding: 70px;
}

.waitin{
 padding: 30px; 
}

.worthiness{
  padding: 40px;
  color:rgb(175, 175, 175) ;
}

.roles_title{
  text-align: center;
  padding: 50px 0px;
  font-size: 2.75rem;
}

.work_text{
  padding: 0px 40px;
}

.roles_wrap{
  padding: 50px 0px ;
}

.paddingworktext{
  padding: 20px 0px; color:rgb(175, 175, 175);
}

.paddingworktext1{
  padding: 0px 0px; color:rgb(175, 175, 175);
}

.worktitletext{
  color:rgb(241, 241, 241);
}

.worktitletext1{
  color:rgb(241, 241, 241); padding: 30px 0px;
}

.work_item:nth-child(2n){
  flex-direction: row-reverse;
}

.work_item{
  display: flex; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_item1{
  display: flex; flex-direction: row-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_item2{
  display: flex; flex-direction: row-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_item3{
  display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_itemy{
  display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 100px;
}


.form{
  display: flex; flex-direction: row-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px;
}

.work_image{
  width: 100%; height: 100%;
  transition-duration: 0.6s; 
}

.work_image:hover{
  transform: rotate(3deg);
}

.work_image1{
  width: 100%; height: 100%;
  transition-duration: 0.6s; 
}

.work_image1:hover{
  transform: rotate(-3deg);
}
@media (max-width: 800px){
  .header{
    flex-direction: column;
  }

  .menu li{
    margin-left: 11px ;
  }

  .worthiness {
    padding: 10px;
    color: rgb(175, 175, 175);
    font-size: larger;
  }

  .waitin {
    padding: 10px;
    font-size: x-large;
  }

  .twinmoon_text {
    padding: 20px;
  }

  .work_item{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }

  .work_item1{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }
  
.work_item2{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }
  
.work_item3{
    display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 100px;
  }

.work_item4{
    display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 100px;
  }
  
.work_image{
    max-width: 50px; max-height:50px ; align-content: center; margin-right: 450px ;
  }

.work_itemy{
    display: flex; flex-direction: column-reverse; align-items: center; justify-content: space-between; margin-bottom: 100px; padding-top: 200px;
  }

.work_text{
    padding-top: 500px;
  }

.work_texti{
    padding-top: 230px; text-align: center;
  }

.work_imagei{
    max-width: 50px; max-height:50px ; align-content: center; margin-right: 200px; padding: 5px;
  }

.work_imagey{
    max-width: 50px; max-height:50px ; align-content: center; margin-right: 360px ; padding-top: 20px; padding-bottom: 40px;
  }
.work_texttt{
    padding-top: 300px;
  }

.paddingworktext7{
    padding: 5px 30px; color:rgb(175, 175, 175);
  }

.worktitletext{
    text-align: center;
  }
  
.form{
  min-height: 1962px;
  }

}

.paddingworktext7{
  color:rgb(175, 175, 175);
}

.work_textet{
  max-width: 1500px;
  padding-left: 20px 20px;
  display: flex;
  flex-direction: column;
}

.paddingworktext6{
  padding: 10px 30px; color:rgb(175, 175, 175);
}


.work_btn{
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 30px;
  padding: 16px 60px;
  display: inline-block;
  transition-duration: 0.2s;
}

.work_btn:hover{
  color: rgb(221, 221, 221);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  border: 4px solid rgb(63, 63, 63);
  border-radius: 30px;
  padding: 15px 60px;
  display: inline-block;
}
